@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,900&display=swap');
*{
    margin: 0;
   padding: 0;

}
body{
    font-family: 'Source Code Pro', monospace;
    background-color: linear-gradient(white, darkGray);
}

.centering{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

header, nav,section,footer{
    background-color: lightblue;
    border-style:1;
    margin: 10px;
    width: 90%;
    padding: 20px;
    display: block;
    border-radius:"22px";
    -webkit-border-radius:"22px"
}

footer:hover{
    background-color: brown;
    cursor: move;
}

article{
    background-color: lightblue;
    border-style: 1;
    margin: 20px;
    width: 90%;
    padding: 10px;
    width: 30%;
}
